
body {
        background-image:url("images/html_back_1.png");
        background-size: cover; 
        }
[class*="col"] { 
                margin-bottom: 20px;
                padding-bottom: 40px;
                margin-top: 100px;
}
.red{color: red;}
       
.one {
        border: 5px solid #777;
        border-radius: 15px;
        padding:0px;
        background-color: #89B;
        top:0px;
        left:200px;
        margin-left: 50px
        width: 50%;
        }
.panel-footer.panel-custom {
                            background: #061D25;
                            padding: 10px 0;
                            }
  .panel-footer.panel-custom a {
                              color: #70726F;
                              font-size: 20px;
                              padding: 10px;
                              border-right: 1px solid #70726F;
                              transition: all .5s ease;
                              }
  .panel-footer.panel-custom a:first-child {
                                          border-left: 1px solid #70726F;
                                          }
  .panel-footer.panel-custom a:hover {
                                    color: white;
                                    }

   
.center{
         text-align: center;
         
       }
textarea {
          width: 500px;
          height: 30px;
          }
#loading { display:none; left:200; bottom:300; width:400%;padding:20px; height:400%;margin-left: auto;
          margin-right: auto;
        }
#map{position:relative; margin-left:auto; margin-right:auto;height: 250px ;width:350px;}
#query {
        border:2px solid black;
        border-radius: 5px;}
.panel-body {
              background:#DCDCDC;}

.flotte {
    float:left;
    }
@media (max-width:400px){
      #map{
            height: 175px ;
            width:220px;
      }
}
@media (max-width:420px){
      textarea {
         width: 250px;
          height: 30px;
      }
}