

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mon_style.css') }}">
<html>

<head>
    <title>Le PapyRobot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      
      
    
    </style>
    
  
 
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDccQ-E6Xu1DGKn4ntp6-1oTdWnjrxzdWM&libraries=places"></script>
  
  
    

  
</head>



<body>
  <header class="row">
        <div class="col-md-12">
  
          <img src="{{url_for('static', filename='images/chatbot.jpg')}}" alt = "image du robot" width=150 height=80 id ="logo">
          <h1> Papy-robot, le GrandPy Bot dispo à te donner la geographie et l'histoire des endroits!!!</h1>
       </div>
  </header>
  
  
  <p  class = "center">
       <div id="output" class = "center"></div>

  </p>
  <p>
       <div id="adress" class = "center"></div>
  </p>

  <p > 
       <div id="map"  class="map-responsive"></div>
  </p>
  <div id="loading" >
        <p><img src="{{url_for('static', filename='images/ajax-loader.gif')}}" /> Please Wait</p>
  </div>

  <p>
       <div id="wikipedia" class = "div-para"></div>
  </p>
  <p>
       <a href= "" id="wikipedia_1" class = "div-para"></a>
  </p>
   
  <form action = "" method="post"  id="monForm" >
      

  
    <div class=center>
      
      
     <textarea placeholder="Papy-robot je souhaiterais connaitre ..." name="demande" id ="demande" rows="6" cols="50" ></textarea>
    

    </div>
  
  <div>
  <footer>
            <p class=center>Serge NANOU  - Tous droits réservés</p>

            <a href="#">https://github.com/SergeNanou</a>

    </footer>
  </div>
    </form> 

   
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script src="{{ url_for('static', filename='js/fichier_1.js')}}"></script> 
      
</body>

</html>